# Temp files
.DS_Store
*~
buck-out/

# IDEs
/.idea/
/.vscode/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/


# Custom files and directories
lightning_logs/
cache/
checkpoints/
src/concept/conf/datamodule/DataModuleTest.yaml
src/concept/conf/datamodule/split_cellxgene_hsapiens/split_cellxgene_hsapiens_test.yaml
src/concept/validate.py
src/concept/conf/datamodule/DataModuleValidation.yaml
